#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
#QQ569511987   FIVEM技术教程分享论坛GTAGM.CN 
# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.

set mysql_connection_string "server=127.0.0.1;database=GTA5;userid=root;"
set es_enableCustomData 1


add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow


#ESX
start mysql-async
start essentialmode
start es_ui
start esplugin_mysql
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start es_admin2

#电影院
start hypnonema-map
start hypnonema





ensure mapmanager
ensure chat
ensure chat-theme-gtao
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
#ensure scoreboard
ensure keks

#电话
start esx_addons_gcphone
start gcphone

#注册人物换衣服
start esx_identity
start esx_skin
start skinchanger

#商店
start esx_status
start esx_basicneeds
start esx_optionalneeds
start esx_teleports
#商店没有单独插件如果超市的商品购买不了尝试在数据库items表的price添加价格如果添加商品到商店请到esx_inventoryhud中config.lua添加

#工作
start esx_addonaccount
start esx_datastore
start esx_addoninventory
start esx_license
start esx_billing
start esx_society
start cron
#抢劫
start esx_holdup
#珠宝店抢劫
start esx_vangelico_robbery
#银行
start esx_holdupbank
#车速表
#start speedomete
#start speedometer
#门锁
start esx_doorlock
#服装店
start esx_eden_clotheshop
#头盔面具
start esx_accessories
#银行
start new_banking
#安全带
start InteractSoundS
start seatbelt
#加油站
start esx_AdvancedFuel
#武器店
start esx_weaponshop
#纹身店
start esx_tattooshop
#理发店
start esx_barbershop
#考驾照
start esx_dmvschool
#水印
start watermark
#语音
start esx_voice
#洗车
start esx_carwash
#记分板
start esx_scoreboard
#PVP
start pvp
#时间同步
start timesync
#赛车系统
start esx_races
#动画开场
start esx_charselect
#飞机商店
start esx_aircraftshop
#船商店
start esx_boatshop
#彩票
start raspa
#金钱HUD显示
#start poggu_hud
#汽水机
#start esx_SodaMachine
#库存
start esx_inventoryhud
#租赁自行车、跳伞
start DRP_RECREATION
#菜单
start krz_personalmenu
#3D文字
start 3dme
#全息浮动文字
start holograms
#暂停菜单
start pausemenu
#商店：子弹、急救包等
start esx_extraitems
#饥饿口渴HUD
#start esx_ladderhud
#界面显示ID
start ShowOwnID
#抢劫游艇
start esx_yacht
#卡车经销商
start esx_truckshop
#橙汁加工出售
start esx_farmoranges
#左下角hud
start st-hud
#右上角工作ui
start trew_hud_ui

#工作
start esx_joblisting
start esx_jobs
start esx_policejob
start esx_ambulancejob
start esx_mechanicjob
start esx_burgershot  #厨师
start esx_mafia       #黑帮


#汽车经销商
start esx_vehicleshop

#房产经销商
start instance
start esx_property

#高级车库
start esx_advancedgarage

#邮政地图
start Badssentials
start postal_map

#改装
start esx_lscustom

#毒品
start esx_drugs

#IPL
start bob74_ipl

#显示玩家名称
#start playerblips

#禁止武器掉落 
start nonpcdrop

#俱乐部
start sody_clubs

#私人仓库
start esx_warehouse

#制作系统
start salty_crafting

#汽车后备箱
start esx_inventoryhud_glovebox

#股票
start el_business

#els
start ELS-FiveM

#非法人体器官
start rnx_organos

#当铺
#start esx_pawnshop

#盗窃
start Fivem_burglary

#限制npc
start No-NPC

#餐厅地图
start burgershot
#黑帮基地
start lafa2k_modernhouse
#紧急
start lux_vehcontrol

#删除准心
start kubangrom-NoCross

#给玩家车
start esx_nuo_givecar   #givecar 1./givecar [模型] [板]   [给玩家]:2./giveyoucar [模型] [板] [玩家游戏ID（数字）]    [删除车辆]:3.//delcarbyplate [板]

#神话通知
start mythic_notify

#加载条
start progressBars-1.0

#汽车氮气
start Suku_Nitro

#洗钱
start esx_blackmoney

#非法警告
start esx_outlawalert

#车损
start wk_vehdamage

#整容
start esx_plasticsurgery

#锁车
start esx_carlock

#疾病
start esx_disease

#夜店bahama的门
start nw_bahamaMama

#警车武器删除
start SemArmasReward


#车
start car1    #大众帕萨特
start car2    #三菱翼神
start car3    #奔驰警车
start car4    #超帅跑车
start car5    #宝马E46
start car6    #福特野马
start car7    #奥迪RS6
start car8    #道奇地狱猫
start car9    #三菱翼神
start car10   #奔驰奔驰CLS63S
start car11   #宝马M7
start car12   #奥迪RS3
start car13   #奔驰AMG
start car14   #GTR
start car15   #现代飞思
start car16   #大众高尔夫
start car17   #大众帕萨特旅行版
start car18   #警车 police4
start car19   #警车c8cop
start car20   #警车bcso2
start car22   #警车bmpos8
start car23   #警车policegt350r
start car24   #超跑jes
start car26   #赞助车BRZBN 
start car27   #赞助车GTRC
start car29   #警车schgr
start car30   #vacca
start car31   #tailgater
start car32   #corvette  gtr7a  gtr7b
start car33   #gtr
start car34   #gtrlms
start car35   #新手车cord812
start car36   #ford30t
start car37   #警车sheriff
start car38   #futo
start car39   #FORD30
start car40   #医护dodgeEMS
start car43   #ap2 本田
start car44   #HONDACIVICTR 本田
start car45   #黑帮车辆GMCYD
start cc1   #速度激情2f2frx7   2f2fs2000   fnfjetta   fnfrx7dom   350zdk    350zm 
start car48  #r820   宝马
start car49  #amggtsprior 奔驰
start car50  #警车db11scpd  
start car52   #mcst

#EUP制服
start eup-stream
start eup-ui
start NativeUI
start NikeHoodieFivem  #精神小伙

#地图
start hospital                      #医院二楼内饰
start hlmpatoche2                     #警局宿舍
start schoolv2                        #大学
start DVCART                          #驾校
start Xmas
start UltimateVinewoodBowl
start roundabout3
start police-center
start PBHospital
start breze_bowling
start bob74_iplstart pacific_bank
start MPChristmasV
start MeetingPointV
start Hospital 1.0
start blips
start ANZBANKSBYMASUTA
start 1appart2
start Supermarket                   #中国便利店
start street                        #中国风街道
start flag                          #中国国旗
start autopage                     #中国风街道
start cnpd1
start cnpd
#start border_verpi                 #收费站（有警局冲突）
start mexico                       #收费站国旗
start flag2                        #白宫国旗
start gouvbatpatoche               #人民政府
start newmilopolice               #交警队内饰
#start policetz                    #派出所地下室拓展
start leotrainingcenter            #警察训练
start policetraining               #地图集合
start xinwenzhongxin               #新闻中新

#菜单（旧）
#start nb_menuperso

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "zh-CN" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "^1#[新人送20W]😀^3春和景明😂^1玩法创新自由度高🚗mod车👮‍多种职业在线招人🔨多种经营模式丨^4QQ569511987"

# Nested configs!
#exec server_internal.cfg

#Loading a server icon (96x96 PNG file)
load_server_icon mario.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group


# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "C1AB2104DDAA3E6F420BFF97229A8A26"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "xcgtf27ijti5q70qqhhg0oanivfvneps"


